<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SNF Scheduler{% endblock %}</title>

    <!-- Load all the static resources -->
    {% load static %}

    <!-- Bootstrap CSS and Icons -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    {% load bootstrap_icons %}

    <!-- Default template CSS -->
    <link rel="stylesheet" href="{% static 'main/css/main_base.css' %}">

    <!-- Child template style elements -->
    {% block styles %}
    {% endblock %}
</head>

<body>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SNF Scheduler</a>
            </div>
        </nav>
    </header>

    <div class="content-wrapper">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'main:home' %}">
                            {% bs_icon 'house-door' %}
                            Home
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            {% bs_icon 'people' %}
                            Admin Area
                        </a>
                    </li>
                    {% endif %}

                    <!-- API Section -->
                    <li class="nav-item">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>API</span>
                        </h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'api-root' %}">
                            {% bs_icon 'box' %}
                            Browseable API
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:tokens' %}">
                            {% bs_icon 'key' %}
                            API Tokens
                        </a>
                    </li>

                    <!-- Management Section -->
                    <li class="nav-item">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Management</span>
                        </h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:snf' %}">
                            {% bs_icon 'clipboard-pulse' %}
                            SNF Manager
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Session</span>
                        </h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:logout' %}">
                            {% bs_icon 'box-arrow-right' %}
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
            {% block content %}
            <h1>Main Content Area</h1>
            <p>Content in this block should be overridden in the child templates.</p>
            {% endblock %}
        </main>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2024 Nathan Rasch</span>
        </div>
    </footer>
</div>

<!-- Bootstrap JS -->
{% bootstrap_javascript %}
{% block scripts %}
{% endblock %}
</body>
</html>
