{% extends "main/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block title %}Patient Manager{% endblock %}

{% block styles %}
<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.0/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <p class="h2"><span class="text-primary">Patient Manager</span></p>
    <p class="h4"><span class="text-primary">(Utilizing Django Views to Process AJAX Requests)</span></p>
    <div class="toast-container mt-2">
        <div id="patientToast" class="toast align-items-center text-white bg-secondary bg-gradient border-0 mt-5" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toastMessage">
                    Patient has been processed successfully.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <table id="patient-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Last Appointment</th>
                <th>Next Appointment</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- The initial table body is empty because data will be loaded via AJAX -->
        </tbody>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Last Appointment</th>
                <th>Next Appointment</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mt-3" id="loadAddPatientModalBtn">Add Patient</button>
    <button type="button" class="btn btn-secondary mt-3" id="refreshData">
        Refresh Data
    </button>

    <!-- Modal for Adding Patients -->
    <div id="addPatientModalContainer">
    </div>

    <!-- Modal for Editing Patients -->
    <div id="editPatientModalContainer">
    </div>


</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.0/datatables.min.js"></script>
<script>
$(document).ready(function() {
    // DATATABLE INIT FOR PATIENT TABLE
    // Create global variable, so we can access in other scripts loaded further below
    window.patientTable = $('#patient-table').DataTable({
        ajax: {
            url: "{% url 'main:list_patients' %}",
            type: "GET",
            dataSrc: "data"
        },
        "paging": true,
        "ordering": true,
        "searching": true,
        "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        "pageLength": 10,
        "columns": [
            { "data": "first_name" },
            { "data": "last_name" },
            { "data": "date_of_birth" },
            { "data": "age" },
            { "data": "date_of_last_appointment" },
            { "data": "date_of_next_appointment" },
            { "data": "active" },
            { "data": null } // Column to hold custom form actions (buttons, etc.)
        ],
        "columnDefs": [
            {
                // Define custom form actions
                "targets": -1, // Targets the last column
                "data": null,
                "defaultContent": "<button class='btn btn-sm btn-outline-primary edit-btn'>Edit</button> \
                &nbsp;&nbsp;<button class='btn btn-sm btn-outline-danger delete-btn'>Delete</button>"
            }
        ]
    });


    // REFRESH PATIENT DATATABLE
    $('#refreshData').on('click', function() {
        // Reload the patient table data
        window.patientTable.ajax.reload();
    });

});
</script>
<script>
    // Define any Django template tag values that need to be passed to the JavaScript files loaded later below
    var addPatientUrl = "{% url 'main:add_patient' %}";
    var editPatientUrl = "{% url 'main:edit_patient' 0 %}";
    var deletePatientUrl = "{% url 'main:delete_patient' %}";
    var patientID = 0;
    var csrfToken = "{{ csrf_token }}";

    console.log("addPatientUrl: " + addPatientUrl);
    console.log("editPatientUrl: " + editPatientUrl);
    console.log("deletePatientUrl: " + deletePatientUrl);
    console.log("csrfToken: " + csrfToken);
</script>
<script src="{% static 'main/js/add_patient.js' %}"></script>
<script src="{% static 'main/js/edit_patient.js' %}"></script>
{% endblock %}