/.venv
/snf_scheduler/scheduler/__pycache__
/snf_scheduler/scheduler/migrations/__pycache__
/snf_scheduler/snf_scheduler/__pycache__
/snf_scheduler/authentication/__pycache__
/.idea
/snf_scheduler/staticfiles
