<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Placeholder</title>
</head>
<body>
<h1>Home Placeholder</h1>

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <p>You API key is:  </p>
{% else %}
    <p>Welcome, guest!</p>
{% endif %}

{% if user.is_authenticated %}
    <form method="post" action="{% url 'authentication:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endif %}
</body>
</html>